.signUpScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.signUpScreen form {
  background: #111;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.signUpScreen form input {
  padding: 5px 15px;
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
}

.signUpScreen form h1 {
  text-align: left;
  margin-bottom: 25px;
}

.signUpScreen form h4 {
  text-align: left;
  margin-top: 30px;
}

.signUpScreen_gray {
  color: gray;
}

.signUpScreen form button {
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  margin-top: 20px;
}

.signUpScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}